{% extends "base.html" %}

{% block content %}

<h1>TUTORIAL:</h1>
<h2>Výborně, zvládl jsi to!</h2>

<h3>Teď si prosím odlož svůj armor a věci, které sis donesl z domovské lokace ukliď následovně: </h3>

<h2>
    <ul>
        <li>Všechno co se dá jíst/pít zanes do místní hospody</li>
        <li>Všechno ostatní zanes do dračí sluje</li>
    </ul>
</h2>

<h4>POZOR! Jelikož si v tutoriálu, máš na sobě začátečnickou ochranu, která ti umožňuje vstup do všech lokací. Po skončení tutoriálu tato ochrana skončí.</h4>



<form action="{% url "tut_seznameni" %}">
    <button type="submit" class="button">DALŠÍ</button>
    <input type="hidden" name="player_id" value="{{ player_id }}">
</form>

<form action="{% url "tut_zazvonit" %}">
    <button type="submit" class="button">ZPĚT</button>
    <input type="hidden" name="player_id" value="{{ player_id }}">
</form>



</h3>
{% endblock content %}




