{% extends "base2.html" %}

{% block content %}

<h1>TUTORIAL:</h1>

<h2><u>Základy hry</u></h2>

<h2><u>Tvoje postava:</u></h2>

<b>
    <p>Na konci tothoto tutoriálu si můžeš vybrat jednu ze tří postav:
        <ul>
            <li><u>Kouzelník</u> - Velké poškození, slabá obrana</li>
            <li><u>Válečník</u> - Malé poškození, velká výdrž</li>
            <li><u>Hunter</u> - Univerzální volba</li>
        </ul>
    </p>
</b>

<p>Každý hráč má svojí postavu kterou vylepšuje tím, jak si užívá silvestrovksý večer a to konkrétně dvěma způsoby:
    <ul>
        <li><b><strong>Plněním Questů</strong></b></li>
        <li><b><strong>Pitím</strong></b></li>
    </ul>
</p>

<p>Za tyto aktivity tvá postava získává XP body a za ně si zvyšuje svůj lvl</p>

<p>Za každý nový lvl dosatne tvoje postava +3 <b>skill pointy</b> díky kterým si může vylepšit svůj útok, obranu nebo životy</p>

<h2><u>CÍL HRY:</u></h2>

<h4>Cílem hry je porazit 25 nebezpečných BOSSŮ světa <b><strong>MEME-LANDIA</strong></b>, kteří zachvátili tuto nádhernou zemi.</h4>

<h2>Jen vy je můžete zastavit! Bojujte jako jeden a nenechte se zastrašit jejich příšerným humorem!</h2>

<form action="{% url "vyber_postavy" %}">
    <button type="submit" class="button">DALŠÍ</button>
    <input type="hidden" name="player_id" value="{{ player_id }}">
</form>

<form action="{% url "tut_odloz_si" %}">
    <button type="submit" class="button">ZPĚT</button>
    <input type="hidden" name="player_id" value="{{ player_id }}">
</form>


{% endblock content %}