{% extends "base2.html" %}
{% load static %}

{% block styly %}
<link rel="stylesheet" href="{% static 'tutorialapp/tutorial.css' %}">
{% endblock styly %}

{% block content %}

<h1>TUTORIAL:</h1>
<h2>Hráč: <strong><u>{{ chosen_player.name }}</u></strong></h2>
<h2>Vyber si svoje povolání:</h2>

<form action="{% url "tut_end" %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="player_id" value="{{ chosen_player.id }}">

    <div class="character-grid">
        
        <div class="char-form" style="--delay: 1;">
            <button type="submit" name="povolani" class="button avatar-button" value="mag">
                <div class="player-avatar-container">
                    <img src="/media/icons/1{{ chosen_player.gender }}.png" alt="Mág" class="player-avatar">
                </div>
            </button>
            <p style="text-align: center; color: gold; font-family: 'Georgia', serif;">Mág</p>
        </div>

        <div class="char-form" style="--delay: 2;">
            <button type="submit" name="povolani" class="button avatar-button" value="valecnik">
                <div class="player-avatar-container">
                    <img src="/media/icons/3{{ chosen_player.gender }}.png" alt="Válečník" class="player-avatar">
                </div>
            </button>
            <p style="text-align: center; color: gold; font-family: 'Georgia', serif;">Válečník</p>
        </div>

        <div class="char-form" style="--delay: 3;">
            <button type="submit" name="povolani" class="button avatar-button" value="hunter">
                <div class="player-avatar-container">
                    <img src="/media/icons/2{{ chosen_player.gender }}.png" alt="Hunter" class="player-avatar">
                </div>
            </button>
            <p style="text-align: center; color: gold; font-family: 'Georgia', serif;">Lovec</p>
        </div>

    </div>
</form>

{% endblock content %}