{% extends "base.html" %}

{% block content %}

<h1>TUTORIAL:</h1>

<h2>Identifikace hráče:</h2>

{% for player in all_players  %}
    {% if player.active == False %}
        <p></p>
        <form action="{% url "vyber_povolani" %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="player_id" value="{{ player.id }}">
            <button type="submit" class="button"><img src="{{ player.profile_img.url }}" alt="profilovka" class="player-avatar" width="100" height="100"></button>
        </form>
    {% endif %}
{% endfor %}


{% endblock content %}