
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "app.css" %}">
    {% block styly %}
    
    {% endblock styly %}
    
</head>
<body>
    <header>
        <button class="header-link"><a href="{% url 'leaderboard' %}">Síň slávy</a></button>
        <button class="header-link"><a href="{% url 'dungeon' %}">Dungeon</a></button>
        <button class="header-link"><a href="{% url "napoveda" %}">Nápověda</a></button>
        <button onclick="window.history.back()" class="header-link">Zpět</button>
        <button class="header-link"><a href="{% url 'fight_history' %}">Historie soubojů</a></button>
    </header>


    {% block content %}
    {% endblock content %}
</body>
</html>


