{% extends "base.html" %}
{% load static %}

{% block styly %}
    <link rel="stylesheet" href="{% static 'fightapp/dungeon.css' %}">
{% endblock styly %}

{% block content %}
<div class="dungeon-container">
    <h1>Dungeon {{ actual_boss.patro }} / 25</h1>
    <h1>{{ actual_boss.name }}</h1>
    <p>{{ actual_boss.description }}</p>

    <div class="boss-image-container">
        {% if actual_boss_img %}
        <img src="{{ actual_boss_img.url }}" alt="boss_image">
        {% else %}
        <p>Obrázek nepřítomný</p>
        {% endif %}
        
    </div>

    <form action="{% url 'fight' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn-fight"> 
            ZAHÁJIT SOUBOJ 
        </button>
        <input type="hidden" name="boss_id" value="{{ actual_boss.id }}">
    </form>
</div>
{% endblock content %}