{% extends "base.html" %}
{% load static %}

{% block styly %}
    <link rel="stylesheet" href="{% static 'fightapp/dungeon.css' %}">
{% endblock styly %}

{% block content %}

{% if actual_patro < 26 %}
    <div class="dungeon-container">
        <h1>Dungeon {{ actual_boss.patro }} / 25</h1>
    </div>
{% endif %}
    <div class="dungeon-container">
        <h1>{{ actual_boss.name }}</h1>
        <p>{{ actual_boss.description }}</p>

        <div class="boss-image-container">
            {% if actual_boss_img %}
            <img src="{{ actual_boss_img.url }}" alt="boss_image">
            {% else %}
            <p>Obrázek nepřítomný</p>
            {% endif %}
            
    </div>

{% if actual_patro < 26 %}
    {% if start_status == True %}
        <form action="{% url 'fight' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn-fight"> 
                ZAHÁJIT SOUBOJ 
            </button>
            <input type="hidden" name="boss_id" value="{{ actual_boss.id }}">
        </form>
    {% else %}
        <div class="energy-warning">
            <h2>Někteří hráči nemají dostatek energie!</h2>
            <ul>
                {% for player in low_energy_players %}
                    <p>{{ player.name }} - Energie: {{ player.energie }}</p>
                {% endfor %}
            </ul>
            <p>Počkejte, až si hráči doplní energii.</p>
        </div>
    {% endif %}
</div>

{% endif %}


{% endblock content %}