{% extends "base.html" %}
{% load static %}

{% block title %}Hrdinský dekret{% endblock %}

{% block content %}

<h1>Hrdinský GLEJT</h1>

<h2>Úspěchy hráče: {{ one_player.name }}</h2>


<h3>Celkové poškození: </h3> <h2>{{ total_dmg }}</h2>

<h3>Nejsilnější rána: </h3> <h2>{{ best_dmg }}</h2>

<h3>Celkové vyblokované poškození: </h3> <h2>{{ total_dmg_taken }}</h2>

<h3>Počet úmrtí: </h3> <h2>{{ death_counter }}</h2>

<h3>Počet útoků: </h3> <h2>{{ total_attack_delt }}</h2>

<h3>Počet obdržených ran: </h3> <h2>{{ total_attack_taken }}</h2>

<h3>ŘÁD Berserka:</h3> <h2>{{rank_dmg}}</h2>
<h3>ŘÁD Kolosa:</h3> <h2>{{rank_dmg_taken}}</h2>
<h3>ŘÁD Nekromanta:</h3> <h2>{{rank_deads}}</h2>
<h3>ŘÁD Asasina:</h3> <h2>{{rank_best_dmg}}</h2>

<h2>Celkové pořadí hráče: {{ total_rank }}</h2>


<h2>Počet vypitých drinků:</h2>
<h3>Panáků: </h3> <h2>{{ panaky }}</h2>
<h3>Malých kelímků: </h3> <h2>{{ maly_kelimek }}</h2>
<h3>Velkých kelímků: </h3> <h2>{{ velky_kelimek }}</h2>

<h2>Questy:</h2>
<h3>Common: </h3> <h2>{{ common_quests }}</h2>
<h3>Uncommon: </h3> <h2>{{ uncommon_quests }}</h2>
<h3>Rare: </h3> <h2>{{ rare_quests }}</h2>
<h3>Epic: </h3> <h2>{{ epic_quests }}</h2>
<h3>Legendary: </h3> <h2>{{ legendary_quests }}</h2>

<h3>Celkem splněných questů: </h3> <h2>{{ total_quests }}</h2>
{% endblock  %}