{% extends "base.html" %}

{% block title %}Historie soubojů{% endblock %}

{% block content %}

<h1>Historie soubojů:</h1>

{% for fight in all_fights %}

    <form action="{% url 'fight_detail' fight.id %}">
        {% csrf_token %}
        <button class="button" type="submit">
            <a href="{% url 'fight_detail' fight.id %}">
                {% if fight.outcome == "players" %}
                    BOSS: {{ fight.boss.name }} - Vítězí hráči!
                {% else %}
                    BOSS: {{ fight.boss.name }} - Vítězí BOSS!
                {% endif %}
            </a>
        </button¨>
    </form>

{% endfor %}

{% endblock %}