{% extends "base.html" %}

{% block content %}

<form action="reset" method="post">{% csrf_token %}<button type="submit" name="test_question" value="True" class="button">Reset</button></form>

<form action="test" method="post">{% csrf_token %}<button type="submit" name="test_question" value="True" class="button">Test</button></form>

<form action="{% url "welcome" %}"> {% csrf_token %} <button type="submit" class="button">Spustit tutorial</button></form>

<form action="active" method="post">{% csrf_token %}<button type="submit" class="button">Aktivovat všechny hráče</button></form>

<form action="deactive" method="post">{% csrf_token %}<button type="submit" class="button">Deaktivovat všechny hráče</button></form>

<form action="auto_stats" method="post">{% csrf_token %}<button type="submit" class="button">Automaticky rozdělit statistiky</button></form>

<form action="add_xp" method="post">{% csrf_token %}<button type="submit" class="button">Přidat všem 1000 XP</button></form>



{% endblock content %}





