{% extends "base.html" %}

{% block title %}Žebříček{% endblock title %}

{% block content %}

<h1>Žebříček SKÓRE:</h1>

{% for one in all_players %}
    <h3>
        Hráč: 
        <b>
            <a href="{% url 'player_info' one.id %}">
                {{ one.name }}
            </a>
        </b>
    </h3>
    <h4><b>Povolání: {{ one.povolani }}</b></h4>
    <h4>Score: <b>{{ one.score }}</b></h4>
    <h4>Level: <b>{{ one.lvl }}</b></h4>
    <h4>XP: <b>{{ one.xp }}</b></h4>
    <h4></h4>
{% endfor %}

<h1>Žebříček CELKOVÉHO POŠKOZENÍ:</h1>
{% for p in total_dmg %}

    <h3>
        Hráč: 
        <b>
            <a href="{% url 'player_info' p.player.id %}">
                {{ p.player.name }}
            </a>
        </b>
    </h3>
    <h4>Celkové poškození: <b>{{ p.total_dmg_delt }}</b></h4>
    
{% endfor %}

<H1>Žebříček NEJVYŠŠÍHO JEDNORÁZOVÉHO POŠKOZENÍ:</H1>
{% for p in best_dmg %}

    <h3>
        Hráč: 
        <b>
            <a href="{% url 'player_info' p.player.id %}">
                {{ p.player.name }}
            </a>
        </b>
    </h3>
    <h4>Nejvyšší jednorázové poškození: <b>{{ p.best_dmg_delt }}</b></h4>

{% endfor %}


<H1>Žebříček NEJVÍCE USTÁTÉHO POŠKOZENÍ:</H1>
{% for p in best_defence %}

    <h3>
        Hráč: 
        <b>
            <a href="{% url 'player_info' p.player.id %}">
                {{ p.player.name }}
            </a>
        </b>
    </h3>
    <h4>Nejvyšší obrana: <b>{{ p.total_dmg_taken }}</b></h4>

{% endfor %}


<h1>Žebříček POČTU ÚMRTÍ:</h1>
{% for p in total_deaths %}

    <h3>
        Hráč: 
        <b>
            <a href="{% url 'player_info' p.player.id %}">
                {{ p.player.name }}
            </a>
        </b>
    </h3>
    <h4>Počet úmrtí: <b>{{ p.death_counter }}</b></h4>

{% endfor %}


{% endblock content %}