{% extends "base.html" %}

{% block title %}Žebříček{% endblock title %}

{% block content %}

<h1>Žebříček hráčů</h1>


{% for one in all_players %}
    <h2>
        Hráč: 
        <b>
            <a href="{% url 'player_info' one.id %}">
                {{ one.name }}
            </a>
        </b>
    </h2>
    <h4><b>Povolání: {{ one.povolani }}</b></h4>
    <h3>Score: <b>{{ one.score }}</b></h3>
    <h3>Level: <b>{{ one.lvl }}</b></h3>
    <h3>XP: <b>{{ one.xp }}</b></h3>
    <h5></h5>
{% endfor %}

{% endblock content %}