{% extends "base.html" %}
{% load static %}

{% block styly %}
    <link rel="stylesheet" href="{% static 'game/player_info.css' %}">
{% endblock styly %}

{% block content %}
<div class="container">
    <div class="player-header">
        <h1><u></u> <b>{{ one_player.name }}</b></h1>

        {% if actual_patro == 26 %}
            <div class="glejt">
                <form action="{% url 'decret' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="decret-button", name="player_id" value="{{ one_player.id }}">
                        Zobrazit <b>Hrdinský glejt</b> 
                    </button>
                </form>
            </div>
        {% endif %}
        
        <div class="player-main-section">
            <div class="player-avatar-wrapper">
                <div class="player-avatar-container">
                    {% if one_player.profile_img %}
                    <img src="{{ one_player.profile_img.url }}" alt="Player Avatar" class="player-avatar">
                    {% else %}
                    <img src="/media/profile_images/default_avatar.png" alt="Default Avatar" class="player-avatar">
                    {% endif %}
                    
                </div>
                <div class="player-lvl-badge">Level: {{ one_player.lvl }}</div>
            </div>

            <div class="player-progress-section">
                <h3><b><img src="/media/icons/{{one_player.role_img_id}}{{ one_player.gender }}.png" alt="{{ one_player.gender }}" width="40" height="40">  {{ one_player.povolani }}</b></h3>
                
                <div class="progress-container">
                    <label><img src="/media/icons/xp.png" alt="xp" width="30" height="30">: {{ one_player.xp }} / {{ one_player.xp_need }}</label>
                    <div class="progress-bar-bg">
                        <div class="progress-bar-fill xp-color" style="width: calc(({{ one_player.xp }} / {{ one_player.xp_need }}) * 100%)"></div>
                    </div>
                </div>

                <div class="progress-container">
                    <label><img src="/media/icons/lighting.png" alt="energy" width="24" height="24">: {{ energy }} / 200 (+5 / min.)</label>
                    <div class="progress-bar-bg">
                        <div class="progress-bar-fill energy-color" style="width: calc(({{ energy }} / 200) * 100%)"></div>
                    </div>
                </div>

                <div class="skill-points-highlight">
                    Dostupné skill pointy: <b>{{ one_player.skill_points }} <img src="/media/icons/skill_point.png" alt="skill_point" width="25" height="25" center:"center"></b>
                    <form action="{% url 'skill_reset' one_player.id %}" method="post"> {% csrf_token %} <button type="submit" class="button">Resetovat staty (200 energie) </button></form>
                </div>
            </div>
        </div>

        <div class="stats-grid">
            <form action="{% url 'stat_up' one_player.id %}" method="post" class="stat-card">
                {% csrf_token %}

                <span class="stat-label"><img src="/media/icons/swords.png" alt="attack" width="30" height="30">: <b>{{ one_player.dmg_now }}</b></span>

                <button type="submit" name="stat_type" value="dmg" class="stat-button">
                    <span class="plus-icon">+</span> ({{ dmg_koef_min }}-{{ dmg_koef_max }})
                </button>
            </form>

            <form action="{% url 'stat_up' one_player.id %}" method="post" class="stat-card">
                {% csrf_token %}

                <span class="stat-label"><img src="/media/icons/armor.png" alt="armor" width="40" height="40">: <b>{{ one_player.armor_now }}</b></span>

                <button type="submit" name="stat_type" value="armor" class="stat-button">
                    <span class="plus-icon">+</span> ({{ armor_koef_min }}-{{ armor_koef_max }})
                </button>
            </form>

            <form action="{% url 'stat_up' one_player.id %}" method="post" class="stat-card">
                {% csrf_token %}

                <span class="stat-label"><img src="/media/icons/life-bar.png" alt="hp" width="30" height="30">: <b>{{ one_player.hp_now }}</b></span>

                <button type="submit" name="stat_type" value="hp" class="stat-button">
                    <span class="plus-icon">+</span> ({{ hp_koef_min }}-{{ hp_koef_max }})
                </button>
            </form>
        </div>
    </div>

    <h3>Šance na KRITICKÝ ZÁSAH: </h3> {{ one_player.critic_chance }}% (max 50%)
    <h3>Šance na BOJOVÝ POSTOJ: </h3> {{ one_player.dodge_chance }}% (max 50%)
        


    <h1>Vypít:</h1>

        <form action="{% url 'drink' one_player.id %}" method="post">
            {% csrf_token %}


        <button type="submit" name="drink_type" value="panak" class="button" onclick="return confirm('OPRAVDU Jsi vypil PANÁK?');">1 Panák (50 XP)</button>
        Již vypito: <b>{{ one_player.panak }}</b> panáků

        <p></p>
        

        <button type="submit" name="drink_type" value="maly_kelimek" class="button" onclick="return confirm('OPRAVDU Jsi vypil MALÝ KELÍMEK?');">1 MALÝ kelímek (30 XP)</button>
        Již vypito: <b>{{ one_player.maly_kelimek }}</b> malých kelímků

        <p></p>
        
        <button type="submit" name="drink_type" value="velky_kelimek" class="button" onclick="return confirm('OPRAVDU Jsi vypil VELKÝ KELÍMEK?');">1 VELKÝ kelímek (40 XP)</button>
        Již vypito: <b>{{ one_player.velky_kelimek }}</b> velkých kelímků
        
        <p></p>
        
    </form>

    <h1>Side quest</h1>
    <form action="{% url "sidequest" %}" method="post">
        {% csrf_token %}
        <button type="submit" class="button">Vyber si úkol</button>
        <input type="hidden", name="player_id" value="{{ one_player.id }}">
    </form>

    <h1>Nástěnka:</h1>
    <form action="{% url "nastenka" %}" method="post">
        {% csrf_token %}
        <button type="submit" class="button">Nástěnka</button>
        <input type="hidden" name="player_id" value="{{ one_player.id }}">
    </form>

    <h1>Moje úkoly: ({{ one_player.quest_counter }}/3)</h1>

    {% for quest in player_quests %}
        {% if quest.done == False %}
            <h3>Název úkolu: <b>{{ quest.quest_name }}</b></h3>
            <p>Popis: {{ quest.description }}</p>
            <p>Odměna XP: {{ quest.xp_reward }}</p>
            <p>Raritka: {{ quest.rarity }}</p>

            <form action="{% url 'quest_failed' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="player_id" value="{{ one_player.id }}">
                <input type="hidden" name="quest_id" value="{{ quest.id }}">
                <button type="submit" class="button"
                        onclick="return confirm('Opravdu chceš vzdát úkol?');">
                    Vzdát úkol (-50 energie)
                </button>
            </form>
            <hr>
        {% endif %}
    {% endfor %}

</div>


{% endblock content %}