{% extends "base.html" %}
{% load static %}

{% block styly %}
    <link rel="stylesheet" href="{% static 'game/player_info.css' %}">
{% endblock styly %}

{% block content %}
<div class="container">
        <h1><u>Hráč:</u> <b>{{ one_player.name }}</b></h1>

        <h2><u>Level:</u> <b>{{ one_player.lvl }}</b></h2>

        <h2><u>XP:</u> <b>{{ one_player.xp }} / {{ one_player.xp_need }}</b></h2>

        <h3><u>Povolání:</u> <b>{{ one_player.povolani }}</b></h3>

        <h4><u>Útok:</u> <b>{{ one_player.dmg_now }}</b> ({{ dmg_koef_min }} - {{ dmg_koef_max }} / lvl) </h4>
        <h4><u>Obrana:</u> <b>{{ one_player.armor_now }}</b> ({{ armor_koef_min }} - {{ armor_koef_max }} / lvl) </h4>
        <h4><u>Životy:</u> <b>{{ one_player.hp_now }}</b> ({{ hp_koef_min }} - {{ hp_koef_max }} / lvl) </h4>


    <h1>Vypít:</h1>

        <form action="{% url 'drink' one_player.id %}" method="post">
            {% csrf_token %}


        <button type="submit" name="drink_type" value="panak" class="button">1 Panák</button>
        Již vypito: <b>{{ one_player.panak }}</b> panáků

        <p></p>
        

        <button type="submit" name="drink_type" value="maly_kelimek" class="button">1 MALÝ kelímek</button>
        Již vypito: <b>{{ one_player.maly_kelimek }}</b> malých kelímků

        <p></p>
        
        <button type="submit" name="drink_type" value="velky_kelimek" class="button">1 VELKÝ kelímek</button>
        Již vypito: <b>{{ one_player.velky_kelimek }}</b> velkých kelímků
        
        <p></p>
        
    </form>

    <h1>Vstup do dungeonu:</h1>
    <button class="button"><a href="{% url 'dungeon' %}">Dungeon</a></button>

    <h1>Side quest</h1>
    <form action="{% url "sidequest" %}" method="post">
        {% csrf_token %}
        <button type="submit" class="button">Vyber si úkol</button>
        <input type="hidden", name="player_id" value="{{ one_player.id }}">
    </form>

    <h1>Nástěnka:</h1>
    <form action="{% url "nastenka" %}" method="post">
        {% csrf_token %}
        <button type="submit" class="button">Nástěnka</button>
        <input type="hidden" name="player_id" value="{{ one_player.id }}">
    </form>

    <h1>Moje úkoly:</h1>

    {% for quest in player_quests %}
        {% if quest.done == False %}
            <h3>Název úkolu: <b>{{ quest.quest_name }}</b></h3>
            <p>Popis: {{ quest.description }}</p>
            <p>Odměna XP: {{ quest.xp_reward }}</p>
            <p>Raritka: {{ quest.rarity }}</p>

            <form action="{% url 'quest_failed' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="player_id" value="{{ one_player.id }}">
                <input type="hidden" name="quest_id" value="{{ quest.id }}">
                <button type="submit" class="button"
                        onclick="return confirm('Pro vzdání úkolu VYPÍJ PANÁKA :)');">
                    Vzdát úkol
                </button>
            </form>
            <hr>
        {% endif %}
    {% endfor %}

</div>


{% endblock content %}