{% extends "base.html" %}
{% load static %}

{% block title %}Vedlejší úkoly{% endblock %}

{% block styly %}
    <link rel="stylesheet" href="{% static 'game/side_quest.css' %}">
{% endblock styly %}

{% block content %}
<div class="quests-container">
    <div class="quest-header-info">

        <h3 class="energy-cost">Cena za přijetí úkolu:</h3>
        </h3><b>20 energie</b><h3/>
    </div>


    <form action="{% url 'quest_refresh' %}" method="post" class="refresh-quests-form">
        {% csrf_token %}
        <button type="submit" class="button">Nové náhodné úkoly (50 energie)</button>
        <input type="hidden" name="player_id" value="{{ player_info.id }}">
    </form>

    {% if player_info.energie > 50 %}
        <p class="energy-info">Aktuální energie: {{ player_info.energie }}</p>
    {% elif player_info.energie > 20 and player_info.energie < 50 %}
        <p class="energy-info-low">Nemáš dostatek energie pro reset úkolů. Tvoje energie je: {{ player_info.energie }}</p>
    {% else %}
        <p class="energy-info-low">Nemáš dostatek energie pro přijetí úkolu. Tvoje energie je: {{ player_info.energie }}</p>
    {% endif %}

    <div class="quest-card">
        <h1>ALKO Quest:</h1>
        <h4>{{ random_quest_alko.quest_name }}</h4>
        <p class="quest-description">{{ random_quest_alko.description }}</p>
        <p class="quest-reward">Odměna: {{ random_quest_alko.xp_reward }} XP</p>
        <p class="rarity-{{random_quest_alko.rarity}}"> <strong><b>{{ random_quest_alko.rarity }}</b></strong></p>

        <p><i>(Vypitý alkohol si lze započítat do vypitých)</i></p>

        <form action="{% url 'take_quest' %}" method="post" class="quest-action-area">
            {% csrf_token %}
            <input type="hidden" name="quest_id" value="{{ random_quest_alko.id }}">
            <input type="hidden" name="player_id" value="{{ player_info.id }}">
            <button type="submit" class="button">Přijmout úkol</button>
        </form>
    </div>

    <div class="quest-card">
        <h1>CHALLENGE Quest:</h1>
        <h4>{{ random_quest_nealko.quest_name }}</h4>
        <p class="quest-description">{{ random_quest_nealko.description }}</p>
        <p class="quest-reward">Odměna: {{ random_quest_nealko.xp_reward }} XP</p>
        <p class="rarity-{{random_quest_nealko.rarity}}"> <strong><b>{{ random_quest_nealko.rarity }}</b></strong></p>

        <form action="{% url 'take_quest' %}" method="post" class="quest-action-area">
            {% csrf_token %}
            <input type="hidden" name="quest_id" value="{{ random_quest_nealko.id }}">
            <input type="hidden" name="player_id" value="{{ player_info.id }}">
            <button type="submit" class="button">Přijmout úkol</button>
        </form>
    </div>

    <div class="quest-card">
        <h1>CO-OP Quest:</h1>
        <h4>{{ random_quest_coop.quest_name }}</h4>
        <p class="quest-description">{{ random_quest_coop.description }}</p>
        <p class="quest-reward">Odměna: {{ random_quest_coop.xp_reward }} XP / hráč</p>
        <p class="rarity-{{random_quest_coop.rarity}}"> <strong><b>{{ random_quest_coop.rarity }}</b></strong></p>

        <p><i>(O co budete soutěžit si vyberte sami, XP dostanou oba stejně při splnění)</i></p>

        <form action="{% url 'take_quest' %}" method="post" class="quest-action-area">
            {% csrf_token %}
            <input type="hidden" name="quest_id" value="{{ random_quest_coop.id }}">
            <input type="hidden" name="player_id" value="{{ player_info.id }}">
            
            <div class="coop-select-group">
                <label for="coop_player">Vyber si parťáka:</label>
                <select id="coop_player" name="coop_player_id">
                    <option value="" disabled selected>-- Vyberte možnost --</option>
                    {% for one in active_players %}
                        <option value="{{one.id}}">{{one.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="button">Přijmout úkol</button>
        </form>
    </div>
</div>



{% endblock content %}